/*Default font set to Roboto*/
* {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

.page {
    width: 1480px;
    background: #FFFFFF;
    box-shadow: 0px 0px 55px #c0c0c0;
    margin: auto;
}

.container {
    width: 1280px;
    margin: auto;
    padding-bottom: 30px;
}

.logo {
    font-size: 80px;
    line-height: 94px;
    display: inline-block;
    padding-top: 63px;
    padding-bottom: 40px;
}
.logo__second-color {
    color: #4BCAFF;
}

.header {
    background: #35444F;
    height: 69px;
    display: flex;
    justify-content: center;
}

.header__nav {
    width: 988px;
    display: flex;
    justify-content: space-between;
}

.header__item {
    flex-grow: 1;
    display: flex;
    border-left: 1px solid #FFF;
    justify-content: center;
    align-items: center;
}

.header__nav:last-child {
    border-right: 1px solid #FFF;
}

.header__links {
    padding-top: 24px;
    padding-bottom: 18px;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 27px;
}

.header__item:hover {
    background: #222F3A;
}

.main {
    display: flex;
    justify-content: space-between;
    padding-top: 49px;
}

.aside__nav {
    height: 400px;
    width: 344px;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.aside__items {
    flex-grow: 1;
    padding-top: 26px;
    padding-bottom: 26px;
    transition: all .4s;

}

.aside__links {
    font-size: 27px;
    line-height: 27px;
    padding-left: 44px;

}

.aside__items:hover {
    padding-left: 28px;
    background: #DBDBDB;
}

.article {
    width: 885px;
}

.img-wrapper {
    height: 529px;
    width: 885px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s;
    margin-bottom: 37px;
}

.img-wrapper:hover > .main-image {
    transform: scale(1.1);
}

.main-image {
    transition: transform .3s;
}

.text {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 34px;
}

.footer {
    background: #63696E7A;
    height: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.footer__nav {
    display: flex;
}

.footer__nav {
    margin-left: 40px;
    width: 875px;
    display: flex;
    justify-content: space-between;
}

.footer__links {
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 13px;
}

.footer__links:hover {
    color: #3181A6;
    border-bottom:1px solid #3181A6;

}

.copy {
    font-size: 24px;
    line-height: 24px;
    margin-right: 40px;
}